/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #306400;
  --ifm-color-primary-dark: #2b5a00;
  --ifm-color-primary-darker: #295500;
  --ifm-color-primary-darkest: #224600;
  --ifm-color-primary-light: #356e00;
  --ifm-color-primary-lighter: #377300;
  --ifm-color-primary-lightest: #3e8200;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #abf26a;
  --ifm-color-primary-dark: #99ef4a;
  --ifm-color-primary-darker: #90ee3a;
  --ifm-color-primary-darkest: #75e014;
  --ifm-color-primary-light: #bdf58a;
  --ifm-color-primary-lighter: #c6f69a;
  --ifm-color-primary-lightest: #e1faca;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
